[core]
    autocrlf = false
    quotepath = false
    ignorecase = false
    pager = delta
    excludesfile = ~/dotfiles/.gitignore_global
    attributesfile = ~/dotfiles/.gitattributes
[push]
    default = simple
[pull]
    rebase = merges
[merge]
    tool = vimdiff
[mergetool]
    prompt = true
[mergetool "vimdiff"]
    cmd = nvim -d $LOCAL $REMOTE $MERGE -c '$wincmd w' -c 'wincmd J'
[rerere]
    enabled = true
[diff]
    tool = vimdiff
    algorithm = histogram
[difftool]
    prompt = false
[help]
    autocorrect = -1
[color]
    ui = auto
    status = auto
    diff = auto
    branch = auto
    interactive = auto
    grep = auto
[alias]
    alias = !git config --list | grep 'alias\\.' | sed 's/alias\\.\\([^=]*\\)=\\(.*\\)/\\1\\\t => \\2/' | sort
    staged = diff --cached
    delete-merged-branch = !git branch --merged | grep -v -E '\\*|develop|master|main' | xargs git branch -d; git fetch --prune
[ghq]
    root = ~/src
[delta]
    features = side-by-side line-numbers decorations
    whitespace-error-style = 22 reverse
[delta "decorations"]
    commit-decoration-style = bold yellow box ul
    file-style = bold yellow ul
    file-decoration-style = none
[interactive]
    diffFilter = delta
